<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout designs</title>
    <link rel="stylesheet" href="../Styles/main.css">
</head>
<body>

    <span class="button"><a href="../index.html">RETURN</a></span>

    <h1>Layouts</h1>
    <p><a href="one_column.html">One column</a></p>
    <p><a href="two-column.html">Two Equal Column Layout</a></p>
    <p><a href="flex-two-column.html">The Flexible Box Two Equal Column Layout</a></p>
    <p><a href="two-unequal-column.html">Two unequal columns</a></p>
    <p><a href="Responsive-two-column.html">Responsive Two Column Layout</a></p>
    <p><a href="equal-height-columns.html">Equal Height Columns</a></p>
    <p><a href="responsive-equal-height-columns.html">Responsive Equal Height Columns</a></p>
    <p><a href="flex-equal-height-columns.html">Flexible Box Equal Height Columns</a></p>
    <p><a href="cards.html">Cards</a></p>

    
</body>
</html>