<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Card development 02</title>

    <style>

        .card_01 {
            max-width: 33.3vw;
            margin: auto;
            font-family: arial;
        }


        body {
            background: linear-gradient(to bottom, #bec97b 0%,#dbe3c6 100%);
            min-height: 100vh;
        }

        img {
            margin-bottom: 1rem;
            box-shadow: 1px 1px 3px 0 rgba(0,0,0,.7);
        }

        table tr td:last-child {
    text-align: right;
}

    </style>

</head>
<body>

    <div class="card_01">

        <div class="img-wrap">

            <img src="./images/28.jpg" alt="Salad" style="width:100%">

        </div>
    
        <table style="width:100%">
    
            <tr>
              <td>S5. Surimi Salad, 310 Cals </td>
              <td>6.99</td>
            </tr>
    
            <tr>
              <td>S6. Shrimp Salad, 260 Cals</td>
              <td>8.99</td>
            </tr>
    
        </table>

    </div>
</body>
</html>